*{
	margin:0;
	box-sizing:border-box;
}
body{
	background: #ECE9E6; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  	background-attachment:fixed;
}

@font-face{
	font-family:interstate;
	src:url(../fonts/Interstate-Regular.ttf);
}
.main-nav{
	height:130px;
	padding:10px;
	position:fixed;
}

.logo-container{
	float:left;
	height:120px;
}

.logo-container img{
	height:120px;
}

.menu-bar{
	height:120px;
	display:table-cell;
	vertical-align:middle;
	/*border:solid black 1px;*/
	margin-left:10px;
}

.menu-bar a{
	text-decoration:none;
	color:rgb(55,55,55);
	border-bottom:solid rgba(55,55,55,0) 2px;
	-o-transition:.2s;
  	-ms-transition:.2s;
  	-moz-transition:.2s;
  	-webkit-transition:.2s;
}

.menu-bar a:hover{
	border-bottom:solid #f199a2 2px;
	color:#f199a2;
}
.menu-bar .active{
	border-bottom:solid #f199a2 2px;
	color:#f199a2;
}

.menu-item{
	margin:15px;
	font-family:'Helvetica neue';

}

#slide-1{
	clear:both;
	vertical-align:middle;
	width:100vw;
	background:url('../images/1.png');
	background-size:contain;
	background-repeat:no-repeat;
	background-position:right -100px center;
	background-color:none;
	height:100vh;
	padding:70px;
	padding-top:150px;
}

#slide-2{
	clear:both;
	vertical-align:middle;
	width:100vw;
	background:url('../images/2.png');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:right -10vw center;
	background-color:none;
	height:100vh;
	padding:70px;
	padding-top:150px;
}

#slide-3{
	clear:both;
	vertical-align:middle;
	width:100vw;
	background:url('../images/3.png');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:right -10vw center;
	background-color:none;
	height:100vh;
	padding:70px;
	padding-top:150px;
}
#slide-4{
	clear:both;
	vertical-align:middle;
	width:100vw;
	background:url('../images/4.png');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	background-color:none;
	height:100vh;
	padding:70px;
	padding-top:150px;
}

.message{
	float:left;
	padding-bottom:50px;
	padding-left:50px;
	max-width:40%;
}

.message h1{
	font-family:Baskerville;
	font-weight:lighter;
	font-size:3em;
	color:#f199a2;
}

.message p i{
	font-family:Baskerville;
	font-weight:bold;
}

.message p{
	font-family:'Helvetica neue';
	font-weight:regular;
	max-width:100%;
}

.message a{
	margin-top:50px;
}

.sub-footer{
	margin-top:50px;
	font-size:0.8em;
	max-width:60%;
}

.btn-main{
	border:solid #f199a2 2px;
	width:50%;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:20px;
	padding-right:20px;
	height:100px;
	text-decoration:none;
	color:rgb(55,55,55);
	-o-transition:.2s;
  	-ms-transition:.2s;
  	-moz-transition:.2s;
  	-webkit-transition:.2s;
}

.btn-main:hover{
	background:#f199a2;
}

.divider-pink{
	border-bottom:solid #f199a2 5px;
	margin-top:30px;
	margin-bottom:30px;
	width:45%;
}

.said-by{
	float:right;
	font-weight:bolder;
}

.said-by-position{
	clear:both;
	float:right;
	font-weight:bolder;
}

.home-main{
	height:100vh;
	width:100vw;
	background-color:white;
	overflow:hidden;
	/*display:table-cell;*/
	vertical-align:middle;
	padding-top:150px;
}

.home-main img{
	width:40vw;
	float:right;
	margin-right:10vw;
	margin-top:-150px;
}

.home-message{
	float:left;
	padding-left:70px;
	padding-bottom:50px;
	font-family:'interstate';
	width:40%;
	/*border:solid black 1px;*/
}

.home-message h3{
	margin-bottom:50px;
	color:#f199a2;
}

.home-message p{
	font-family:'Helvetica neue';
}

#sponsors{
	clear:both;
	float:left;
	margin-top:-25vh;
	width:60%;
}

.schedule-main{
	height:100vh;
	width:100vw;
	padding-top:25vh;
	overflow:hidden;
}

.sched-slide{
	height:70vh;
	width:100vw;
	/*border:solid black 1px;*/
}


.sched-slide img{
	width:60%;
	float:right;
}

.sched-msg{
	margin-top:10vh;
	margin-left:8vw;
	position:absolute;
	height:50vh;
	width:50%;
	padding:50px;
	background:url(../images/pinkbg.png);
	background-size:contain;
	background-repeat:no-repeat;
}

.sched-msg h1{
	font-family:'interstate';
	font-weight:bolder;
	color:white;
}

.sched-msg p{
	max-width:70%;
	font-family:'Helvetica neue';
	color:white;
}

#day-1{
	-o-transition:.2s;
  	-ms-transition:.2s;
  	-moz-transition:.2s;
  	-webkit-transition:.2s;
  	visibility:initial;
}

#day-2{
	display:none;
	-o-transition:.2s;
  	-ms-transition:.2s;
  	-moz-transition:.2s;
  	-webkit-transition:.2s;
  	visibility:hidden;
}

#day-3{
	display:none;
	-o-transition:.2s;
  	-ms-transition:.2s;
  	-moz-transition:.2s;
  	-webkit-transition:.2s;
  	visibility:hidden;
}

.tab{
	margin-left:8vw;
	margin-top:-5vh;
}

.tab button{
	background:none;
	border:solid #f199a2 2px;
	border-radius:10px;
	color:#f199a2;
	font-size:3.6vh;
	margin:20px;
	-o-transition:.2s;
  	-ms-transition:.2s;
  	-moz-transition:.2s;
  	-webkit-transition:.2s;
}

.tab button:hover{
	background:#f199a2;
	color:white;
}

.location-main{
	padding-top:130px;
	height:100vh;
	width:100vw;
}

.testimonials-main{
	padding:50px;
	padding-top:130px;
}

.testimonial-card{
	float:left;
	height:100vh;
	width:30vw;
	padding:30px;
}

.testimonial-card img{
	width:40%;
	margin:50px;

}

.testimonial-card p{
	line-height:1.5;
}







